/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: dodgerblue; /* pastel suave */
  color: #1f1147; /* cor escura para contraste */
}
